<form method="post" enctype="multipart/form-data">
    <div class="kotak-form">
        <div class="kotak-input">
            <label id="label_input" for="file_dokumen">Pilih file</label>
            <input id="file_dokumen" name="file_dokumen" type="file" accept=".pdf" required />
        </div>

        <div id="kotak_deskripsi" class="kotak-deskripsi">
            <p>Deskripsi:</p>
            <p><strong>Nama File </strong> <span id="nama_file"></span></p>
            <p><strong>Ukuran File  </strong> <span id="ukuran_file"></span></p>
        
        </div>

        

        <div class="kotak-tombol">
            <button type="submit" class="tombol1">Dekompres</button>
        </div>

    
    </div>
</form>