<div class="kotak-informasi" id="kotak_informasi">
    <div class="kotak-aksi">
        <div class="tombol1" id="tombol_simpan_hasil_kompresi">
            Simpan Hasil Kompresi 
            <div class="loader2" id="loader2"></div>
        </div>

        <!-- <div class="tombol-dekompresi">
            <label id="label_dekompresi" for="my_file">Dekompresi</label>
            <input id="my_file" name="my_file" type="file" accept=".pdf, .txt" />
            <div class="loader2" id="loader3"></div>
        </div> -->
    </div>

    <div class="kotak-tabel">
        <h2>Keterangan</h2>
        <p><strong>Ukuran Sebelum: </strong><span id="ukuran_sebelum"></span></p>
        <p><strong>Ukuran Setelah: </strong><span id="ukuran_setelah"></span></p>
        <p><strong>Nilai Rc (Ratio of Compression): </strong><span id="nilai_rc"></span></p>
        <p><strong>Nilai Cr (Compression Ratio): </strong><span id="nilai_cr"></span></p>
        <p><strong>Nilai SS (Space Saving): </strong><span id="nilai_ss"></span></p>
        <p><strong>Waktu : </strong> <span id="waktu"></span></p>
        
        
    </div>
</div>
